body {
		font-family: Ubuntu, Verdana;
	}

b {
	 color: red;
 }
 
 textarea {
	 font-size: 30px;
		 
	 
 }
 
 h1 {
		text-align: center;
		font-size: 50px;

 
 }
 label, h3 {
	 font-size: 23px;
	 
 }

span, h2 { 
	
	font-size: 23px;
	
	
}

#HenrichsenL {	
				width: 30%;
				margin-left: 50px;
				margin-top: 50px;
				margin-bottom:30px;
}


 table, th, td {
			
				border: 1px solid black;
				border-collapse: collapse;
				text-align: center;
				
}

th, td {
	
			height: 150px;
			font-size: 23px;
}

#radio {
		transform: scale(3);
}
#farbig, th {
	
		background-color: #CEE3F6;
		
		/*Radio für Geschlecht */
		
		
		/*Deutsch*/
}
#Männlich  {
		margin-left: 167px;
		transform: scale(2);
}
			
#Weiblich  {
		margin-left: 172px;
		transform: scale(2);
}

#Unbekannt  {
		margin-left: 15px;
		transform: scale(2);
}

	/*Englisch*/

#Eng_Männlich  {
		margin-left: 200px;
		transform: scale(2);
}
			
#Eng_Weiblich  {
		margin-left: 178px;
		transform: scale(2);
}









/* Input Feld */


	/*Deutsch*/
#vorname {
			margin-left: 217px;
		transform: scale(2);
}

#name {
		margin-left: 198px;
		transform: scale(2);
}
#unternehmen {
		margin-left: 162px;
		transform: scale(2);
}


#mail {
	
		margin-left: 248px;
		transform: scale(2);
	
}


/*Englisch*/
#Eng_vorname {
	margin-left: 205px;
	transform: scale(2);
}

#Eng_name {
		margin-left: 204px;
		transform: scale(2);
}
#Eng_unternehmen {
		margin-left: 199px;
		transform: scale(2);
}
#Eng_mail {
	
	margin-left: 236px;
	transform: scale(2);
}



/*Sprache-Einbettung (je nach Seite)*/

#england {
	width: 5%;	
}

#deutsch {
	width: 5%;
}


#zusatz {
	transform: scale(2);
	margin-left: 30px;
				
}


#oben {
	font-size: 30px;
	
}

.knopf {
	margin-left: 1100px;
	margin-bottom: 50px;
	background-color: white;
	color: black;
	 border: 2px solid #555555;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;

}

.knopf:hover {

	background-color: #555555;
  color: white;

}